upstream myapp1 {
    least_conn;
    {{ if eq (len .Servers) 0 }}
       server localhost:8080;
    {{ else }}
        {{ range .Servers }}
            server {{ . }};
        {{ end}}
    {{ end }}
}
